# Указываем секретный ключ Django-проекта.
DJANGO_SECRET_KEY=your-secret-key-here

# Указываем режим отладки для локальной разработки.
DJANGO_DEBUG=True

# Указываем список допустимых хостов для локального запуска проекта.
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Указываем токен Telegram-бота, полученный у BotFather.
TELEGRAM_BOT_TOKEN=your-telegram-bot-token-here

# Указываем часовой пояс проекта.
DJANGO_TIME_ZONE=Europe/Moscow